html.visDeployRSS { overflow: hidden; }

div#important_msg {
	position: fixed;
	z-index: 1000;
	left: 10;
	right: 10;
	text-align: center;
	display: block;
	top: 0;
	transition: top 1s 5s ease;
	backface-visibility: hidden;

	.js &{
		top: -40px;
	}

	span {
		position: relative;
		background: #4e4e4e;
		padding: 5px 8px;
		color: #fff;
		display: inline-block;
		font-size: 13px;
		border-radius: 0 0 5px 5px;
	}
}

#DeployRSS {
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	z-index: 999999;


	&.vis {
		display: block;
	}

	> div {
		position: absolute;
		top: 35px;
		left: 30px;
		bottom: 35px;
		right: 30px;
		z-index: 9998;
		background: #f7f7f7;
		padding: 10px;
		font-size: 14px;
		overflow: auto;

		* { font-family: arial !important; }

		a {
			color: #fff;
			cursor: pointer;
		}
	}

	section > div {
		background: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	}
}

#devmode {
	position: fixed;
	transform: translate3d(0, 0, 0);
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	font-size: 10px;
	z-index: 99999;
	background: #f4b638 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 10"><path fill="#333F4D" d="M79 10H20L30 0h59z"/></svg>') repeat-x 100% 0;
	background-size: auto 100%;

	#devmode_adminbar {
		position: absolute;
		top: 100%;
		left: 20px;
		font-family: arial !important;

		> * {
			line-height: 1em;
			padding: 5px 8px;
			display: inline-block;
			vertical-align: top;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border: 0;
		}
	}

	span.git {
		font-family: monospace !important;
		background: #000;
		color: #f6392c;
		font-weight: bold;
		margin-right: 5px;

		&:before, &:after {
			content: 'git:(';
			position: relative;
			color: #4b79c8;
		}

		&:after { content: ')';}
	}

	&.bottom{
		top: auto;
		bottom: 0;

		#devmode_adminbar {
			top: auto;
			bottom: 100%;

			> * {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
				vertical-align: bottom;
			}
		}
	}

	&.LOCAL { background-color: #e54545; }

	&.PROD { background-color: #1fbe7b; }
}
