/** ROW WITH CENTERED AND MAXWIDTH **/
.row, [class*="row-"] {
	max-width: 1241px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.row-small {
	max-width: 800px;
}

.sizer-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.sizer {
    width: 100%!important;
    min-height: inherit!important;
    visibility: hidden;
}

// TOPP-MODUL
.top {
    height: 50vh;
    border: 10px solid white;

    @media @desktop {
        height: 70vh;
    }

    .divider:after {
        width: 101%;
        margin-left: -1%;
    }

    .top-content {
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: relative;

        &:after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(143, 103, 126, 0.2);
        }
    }


    .text {
        width: 100%;
        text-align: center;
        z-index: 1;
        position: relative;
        top: 65%;
        .translateY(-50%);
        color: white;

        h1 {
            .font-size(28);
            font-weight: 800;
            text-transform: uppercase;
            text-decoration: underline;
            padding-bottom: .2em;
        }

        span {
            position: relative;
            .font-size(20);
            font-weight: 300;
            text-transform: initial;
            line-height: 1.5em;
            text-decoration: none;

            &:before {
                content: '';
                width: 100%;
                height: 3px;
                background: white;
                top: 0;
                left: 0;
            }
        }
    }

}

// GRID-MODUL SOM LISTER UT JOBBER
.grid {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 0;
    border: 10px solid white;

    article {
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        margin: -0.135em;
        width: 100%;
        background: #8F6E67;
        text-align: center;
        cursor: pointer;
        .backface-visibility(hidden);

        @media @tablet {
            width: 50%;
        }

        @media @desktop {
            width: 33.3333%;
        }

        img {
            min-width: 100%;
            .opacity(.7);
            position: relative;
            display: block;
        }

        .video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            .transition(opacity .35s, padding .35s);
            padding: 0;
            .opacity(0);
        }

        figcaption {
            padding: 2em;
            color: white;
            text-transform: uppercase;
            .font-size(16);
            .backface-visibility(hidden);
            .transition(opacity .35s);
            .opacity(1);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            h2 {
                position: relative;
                word-spacing: -0.15em;
                font-weight: 700;
                .font-size(28);
                color: white;
                .transition(transform .35s, opacity .35s);

                span {
                    font-weight: 800;
                }

                &:after {
                    .transition(transform .35s, opacity .35s);
                }
            }

            p {
                position: relative;
                left: 0;
                right: 0;
                padding-left: 20px;
                padding-right: 20px;
                .font-size(14);
                font-weight: 300;
                letter-spacing: 1px;
                .transition(transform .35s, opacity .35s);
            }

            .icon_play {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20%;
                height: 20%;
                margin-top: -5%;
                margin-left: -9%;
                .transition(transform .55s, opacity .55s);
                .translate3d(0,10px,0);
                .opacity(0);

                polygon {
                    .transition(fill .45s, transform .55s);
                    .translate3d(0,0,0);
                }

                &:hover polygon {
                    fill: white;
                    .translate3d(0,-10px,0);
                }
            }
        }

        &.video_active {
            .video { .opacity(1); z-index: 10; }

            figcaption { .opacity(0); }
        }

        &.effect-one {
            text-align: right;

            img {
                .transition(transform .75s ease);
                .scale(1.05);
                .transform-origin(50);
            }


            figcaption {
                h2 {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    left: 30px;
                    .translate3d(0, 0, 0);

                    @media @desktop {
                        .translate3d(0, 20px, 0);
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        height: 4px;
                        background-color: white;
                        .translate3d(0,0,0);
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        @media @desktop {
                            .opacity(0);
                            .translate3d(0,20px,0);
                        }
                    }
                }

                p {
                    text-align: right;
                    position: absolute;
                    bottom: 30px;
                    .translate3d(0,0,0);

                    @media only screen and (min-width: 1025px) {
                        .translate3d(0,20px,0);
                        .opacity(0);
                    }
                }
            }

            .icon_play {
                top: 79%;
            }


            &:hover {

                img {
                    .scale(1);
                }

                figcaption {
                    h2 {
                        .translate3d(0,0,0);

                        &:after {
                            .opacity(1);
                            .translate3d(0,0,0);
                        }
                    }

                    .icon_play, p {
                        .opacity(1);
                        .translate3d(0,0,0);
                    }

                }
            }
        }


    }

    .btn { margin-top: 2em; }
}

.module_divider {
    .font-size(0);
    border: 10px solid white;
    overflow: hidden;

    .eq1, .eq2 {
        width: 100%;
        display: inline-block;
        position: relative;
        z-index: 0;
        vertical-align: top;
        height: 450px;
        .backface-visibility(hidden);

        // Kun fra desktop, forbi ipad
        @media only screen and (min-width: 1025px) {
            width: 50%;
        }

        .sizer-div{

            &:after {
                background: (rgba(143, 110, 103, 0.2));
                content: '..';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            img {
                .transition(transform .55s);
            }

        }

        .text {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            color: white;

            @media only screen and (min-width: 1025px) {
                right: -10%;
                width: 70%;
                .transition(transform .45s);
                .translate3d(0,100px,0);
            }

            .tittel {
                margin-top: 140px;
                margin-bottom: .5em;
                position: relative;
                top: 0;
                text-transform: uppercase;
                text-align: center;
                color: white;
                font-weight: 300;
                .font-size(28);

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    right: 10%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 4px;
                    background-color: white;


                    @media only screen and (min-width: 1025px) {
                        .transition(transform .45s, opacity .45s);
                        .opacity(0);
                        .translate3d(0,50px,0);
                    }
                }

                span {
                    font-weight: 800;
                }
            }

            .paragraph {
                font-weight: 300;
                .font-size(14);
                text-align: center;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;

                @media only screen and (min-width: 1025px) {
                    .transition(opacity .45s, transform .45s);
                    .translate3d(0,50px,0);
                    .opacity(0);
                    //width: 100%;
                }
            }

            .btn {

                @media only screen and (min-width: 1025px) {
                    .transition(opacity .65s, transform .65s);
                    .translate3d(0,60px,0);
                    .opacity(0);
                }
            }
        }

        &:hover {
            .text {
                .translate3d(0,0,0);

                .tittel {
                    &:after {
                        .opacity(1);
                        .translate3d(0,0,0);
                    }
                }

                .paragraph, .btn {
                    .opacity(1);
                    .translate3d(0,0,0);
                }
            }

        }

    }

    .eq1 {
        z-index: 2;

        .sizer-div {
            .backface-visibility(hidden);
            overflow: hidden;
            right: 10%;
            left: 0;
            width: 100%;

            @media only screen and (min-width: 1025px) {
                right: -12%;
                left: -12%;
                width: 125%;
                .transition(transform .55s);
                .transform(skew(-16deg), translate3d(-50px,0,0));
            }

            img {
                max-height: 100%;
                position: relative;

                @media only screen and (min-width: 1025px) {
                    width: 110%;
                    max-height: 150%;
                    .transition(transform .55s);
                    .transform(skew(16deg), scale(1.1));
                }
            }


        }

        .no-touch &:hover {
            .sizer-div {
                .transform(scale(1.2), skew(-16deg), translate3d(0,0,0));
            }
        }

    }

    .eq2 {
        .text {

            @media only screen and (min-width: 1025px) {
                right: 10%;
            }
        }

        .sizer-div {
            img {
                width: 150%;
            }
        }

        .no-touch &:hover {
            .sizer-div {
                img {
                    .transform(scale(1.2), translate3d(0,0,0));
                }
            }
        }

    }

}

.map_wrapper {
    height: 400px;
    border: 10px solid white;

    @media @desktop {
        height: 500px;
    }
}

#map {
    height: 100%;
}