// MAIN HEADER NAV
.nav_main {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    z-index: 10;
    padding-top: 10px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/static/temp/artsdb.jpg');
        background-size: 100%;
        .transition(opacity .55s ease, transform .55s ease);
        .opacity(0);
        .translate3d(0,50px,0);
    }

    &.underside {
        &:after {
            .opacity(1);
        }
    }


    &.fixed {
        position: fixed;
        height: 70px;

        &:after {
            .opacity(0.9);
            .translate3d(0,0,0);
        }

        .logo {
            top: 10px;
            height: 50px;
            .transition-delay(0);
        }
    }

    ul {
        position: relative;
        z-index: 1;

        li {
            display: inline-block;
            position: relative;
            margin-left: 4px;
            margin-right: 4px;
            .opacity(0);
            .translate3d(0,200%,0);

            &:nth-of-type(1) {
                .transition(transform 1s ease .8s, opacity 2s ease .8s);
            }

            &:nth-of-type(2) {
                .transition(transform 1s ease 1s, opacity 2s ease 1s);
            }

            &:nth-of-type(3) {
                .transition(transform 1s ease 1.2s, opacity 2s ease 1.2s);
            }

            &:nth-of-type(4) {
                .transition(transform 1s ease 1.4s, opacity 2s ease 1.4s);
            }

            a {
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                .font-size(13);
                cursor: pointer;
            }

            &.facebook{
                margin-left: 40px;
                &:before { display: none; }
            }

            // Interpunct
            &:before {
                position: absolute;
                top: 60%;
                left: 50%;
                color: transparent;
                content: '•';
                text-shadow: 0 0 transparent;
                font-size: 1.2em;
                .transition(text-shadow .3s ease-in-out, color .3s ease-in-out, transform .3s ease-in-out);
                .transform(translateX(-50%));
                pointer-events: none;
            }

            &:hover:before {
                color: #fff;
                text-shadow: 10px 0 #fff, -10px 0 #fff;
            }

        }

    }
}


// FOOTER
footer {
    text-align: center;
    padding: 20px;
    padding-bottom: 5px;

    img {
        display: inline-block;
        vertical-align: top;
        float: left;
        margin-right: .7em;
    }

    .footer_logo {
        width: 5%;
        margin-right: 10%;
    }

    ul {
        display: inline-block;
        width: 80%;
        text-align: left;
        text-transform: uppercase;
        .font-size(13);

        li {
            display: inline-block;
            margin-right: 50px;
            width: 15%;

            img {
                position: relative;
                .transition(top .35s ease);
                top: 0;
            }

            &:hover img {
                top: -5px;
            }

        }

        .facebook, .vimeo {
            position: relative;

            span {
                margin-top: 7px;
                position: relative;
            }
        }

        .facebook {
            margin-left: 15%;
            margin-right: 0;
        }

    }

    span {display: inline-block; vertical-align: top; }
}
