html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    .transition(transform 1s @bezier .2s, opacity 1s @bezier);
    .translate3d(0,-80px,0);
    opacity: 0;
}

// SITE LOADED
.lastet {
    .nav_main ul li {
        .opacity(1);
        .translate3d(0,0,0);
    }

    .logo {
        .opacity(1);
        .transform(scale(1), translate3d(0,0,0));
        top: 200px;
        left: 50%;
        margin-left: -62px;
    }

    body {
        .translate3d(0,0,0);
        opacity: 1;
    }
}

// FORSIDE
.forside {
    height: 100%;

    .top {

        .divider {
            width: 101%;
            margin: 0;
            left: -1%;
            &:after { .rotate(1deg); }
        }
    }

    #frontpage_kunder {
        padding-top: 7em;
        padding-bottom: 2.5em;
        background: @color_sec1;
        border: 10px solid white;

        .row {
            text-align: center;
            a {
                margin-right: 40px;
                display: inline-block;
                position: relative;
                .transition(transform .35s ease-in-out, opacity .35s ease-in-out);
                .opacity(0.7);
                .translate3d(0,0,0);

                .no-touch &:hover {
                    .translate3d(0,-5px,0);
                    .opacity(1);
                }
            }
        }

        .divider:after {
            top: 20px;
        }
    }    
}





.underside {
    height: 100%;
}
