# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# CRAFT STORAGE STUFF
# It's probably safe to ignore the following in the storage folders.
# The rest of the items in the storage folder are up to us...
# ------------------------------------------------------------
craft/storage/minimee/*
craft/storage/runtime/*
craft/storage/backups/*

# MISC FILES
# ------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-workspace
*.sublime-project
_notes
dwsync.xml
logs/*
node_modules