  @import "_project.less";
  //  @import "_grid.less";
  @import "_lesshat.less"; // http://lesshat.com/ for dokumentasjon

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Mustasj fixes */
*, *:before, *:after {
	.box-sizing(border-box);
 }

a{
	outline: 0;
	text-decoration: none;
}

html,button,input,select,textarea {
	.appearance();
    .border-radius(0);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	outline:none;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.scroll-cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  pointer-events: auto !important;
  z-index: 10000;
}

html{
	.transition(~"opacity .3s ease");

	&.lastet{
		.opacity(1);
	}
}

div#important_msg{
	position: fixed;
	z-index: 1000;
	left: 10px;
	right: 10px;
	text-align: center;
	display: block;
	top: 0px;
	.transition(~"top 1s ease 5s");
	.backface-visibility(hidden);

	.js &{
		top:-40px;
	}

	span{
		position: relative;
		background: #4e4e4e;
		padding: 5px 8px;
		color: white;
		display: inline-block;
		font-size: 13px;
		.border-radius(0, 0, 5px, 5px);
	}
}
/* End Mustasj fixes */

html, body {
  height: 100%;
}

#frontpage {
  height: 100%;
}

.logo {
  position: absolute;
  top: 50px;
  left: 5%;
  height: 80px;
  z-index: 2;
  .transition(opacity 1s ease .8s, transform 1s ease .8s, height .55s ease-in-out, top .55s ease-in-out, left .55s ease-in-out);
  .opacity(0);
  .transform(scale(0), translate3d(50%,50%,0));
}

.nav_main {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: right;
  padding-right: 150px;
  z-index: 10;
  padding-top: 10px;
 
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/temp/artsdb.jpg');
    background-size: 100%;
    .transition(opacity .55s ease, transform .55s ease);
    .opacity(0);
    .translate3d(0,50px,0);
  }


  &.fixed {
    position: fixed;
    height: 70px;

    &:after {
      .opacity(0.9);
      .translate3d(0,0,0);
    }

    .logo {
      top: 10px;
      height: 50px;
      .transition-delay(0);
    }
  } 

  ul {
    position: relative;
    z-index: 1;

    li {
      display: inline-block;
      position: relative;
      margin-left: 4px;
      margin-right: 4px;
      .opacity(0);
      .translate3d(0,200%,0);

      &:nth-of-type(1) {
        .transition(transform 1s ease .8s, opacity 2s ease .8s);
      }

      &:nth-of-type(2) {
        .transition(transform 1s ease 1s, opacity 2s ease 1s);
      }

      &:nth-of-type(3) {
        .transition(transform 1s ease 1.2s, opacity 2s ease 1.2s);
      }

      &:nth-of-type(4) {
        .transition(transform 1s ease 1.4s, opacity 2s ease 1.4s);
      }

      a {
        color: white;
        font-weight: bold;
        .uppercase;
        .font-size(13);
        cursor: pointer;
      }

      // Interpunct
      &:before {
        position: absolute;
        top: 60%;
        left: 50%;
        color: transparent;
        content: '•';
        text-shadow: 0 0 transparent;
        font-size: 1.2em;
        .transition(text-shadow .3s ease-in-out, color .3s ease-in-out, transform .3s ease-in-out);
        .transform(translateX(-50%));
        pointer-events: none;
      }

      &:hover:before {
        color: #fff;
        text-shadow: 10px 0 #fff, -10px 0 #fff;
      }

    }

  }
}

.slide-text {
  position: absolute;
  bottom: 30%;
  width: 30%;
  text-align: center;

  .text-left &{
    left: 10%;
  }

  .text-right &{
    right: 10%;
  }

  p {
    .font-size(14);
    font-weight: normal;
    color: white;
  }
}

.divider {
  position: relative;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 60px;
    bottom: -30px;
    background: white;
    .rotate(1);
    z-index: 3;
  }

  &.down {
    &:after {
      .rotate(-1deg);
      top: -30px;
    }
  }


}

.emblem-heading {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;

  h2 {
    position: relative;
  }

  h2:before {
    content: '';
    background-image: url('/static/img/emblem.png');
    background-repeat: no-repeat;
    height: 30px;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: .7em;
    margin-bottom: .5em;
  }
}

.lastet {
  .nav_main ul li {
    .opacity(1);
    .translate3d(0,0,0);
  }

  .logo {
    .opacity(1);
    .transform(scale(1), translate3d(0,0,0));
  }
}


#main-header {
  height: 100%;
  width: 100%;
  //.transition(border .75s);

  .slide-container {
    .transition(border-top .1s, border .75s, height .75s);
  }

}


#frontpage_studio-foley {
  .font-size(0);
  border: 10px solid white;
  overflow: hidden;

  .studio, .foley {
    width: 50%;
    display: inline-block;
    position: relative;
    z-index: 0;
    vertical-align: top;
    height: 450px;
    .backface-visibility(hidden);

    .sizer-div{

      &:after {
        background: (rgba(143, 110, 103, 0.2));
        content: '..';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      } 

      img {
        .transition(transform .55s cubic-bezier(0.7, 0, 0.3, 1));
        .transform(skew(16deg), scale(1.1));
        position: relative;

        @media @tablet {
          .transform(skew(0), scale(1));
        }        
      }
    }

    .text {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      right: -25%;
      .transition(transform .55s);
      .translate3d(0,50px,0);      

        h2 {
          margin-top: 20%;
          position: relative;          
          top: 0;
          left: 20px;
          right: 20px;
          text-align: center;
          color: white;
          font-weight: 300;
          .font-size(28);

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            right: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 3px;
            background-color: white;
            .transition(transform .55s, opacity .55s);
            .opacity(0);
            .translate3d(0,50px,0);
          }          

          span {
            font-weight: 800;
          }
        }

        p {
          .transition(opacity .55s, transform .55s);
          .translate3d(0,50px,0);
          .opacity(0);
          font-weight: 300;
          .font-size(14);
          .uppercase;
          text-align: center;
          width: 50%;
          margin-left: auto;
          margin-right: auto;
        }

        .btn {
          .transition(opacity .75s, transform .75s);
          .translate3d(0,100px,0);
          .opacity(0);          
        }
    }   

    &:hover {
      .text {
        .translate3d(0,0,0);

        h2 {
          &:after {
            .opacity(1);
            .translate3d(0,0,0);
          }
        }

        p, .btn {
          .opacity(1);
          .translate3d(0,0,0);
        }
      }


      .no-touch &:hover {
        .sizer-div {
          img {
            .transform(skew(16deg), scale(1.2), translate3d(0,0,0));
          }
        }
      }       
    }

  }

  .foley {
    z-index: 2;   

    .sizer-div {
      .backface-visibility(hidden);
      overflow: hidden;
      right: -12%;
      left: -12%;
      width: 135%;
      .transition(transform .55s cubic-bezier(0.7, 0, 0.3, 1));
      .transform(skew(-16deg), translate3d(-50px,0,0));      

      @media @tablet {
        left: 0;
        right: 0;
        width: 50%;
        .transform(none);
      }

      img {
        width: 140%;
        height: 100%;
      }
    }

    .no-touch &:hover {
      .sizer-div {
        .transform(skew(-16deg), translate3d(0,0,0));
      }
    }

  }

  .studio {
    .text {
      right: -8%;
    }
  }

}

#frontpage_kunder {
  .row {
    text-align: center;
    a {
      margin-right: 40px;
      display: inline-block;
      position: relative;
      .transition(transform .35s ease-in-out, opacity .35s ease-in-out);
      .opacity(0.7);
      .translate3d(0,0,0);

      .no-touch &:hover {
        .translate3d(0,-5px,0);
        .opacity(1);
      }
    }
  }
}

.sizer-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.sizer {
  width: 100%!important;
  min-height: inherit!important;
  visibility: hidden;
}

// Grid
.grid {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	font-size: 0;
  border: 10px solid white;

	figure {
		position: relative;
		z-index: 1;
		display: inline-block;
		overflow: hidden;
		margin: -0.135em;
		width: 33.3333%;
		background: #8F6E67;
		text-align: center;
		cursor: pointer;
    .backface-visibility(hidden);

		img {
			width: 150%;
			.opacity(.7);
			position: relative;
			display: block;
			min-height: 100%;
		}

		figcaption {
			padding: 2em;
			color: white;
			.uppercase;
			.font-size(16);
			.backface-visibility(hidden);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			h2 {
        position: relative;
				word-spacing: -0.15em;
				font-weight: 300;
				.font-size(28);
				color: white;
				.transition(transform .35s, opacity .35s);

				span {
					font-weight: 800;
				}

				&:after {
					.transition(transform .35s, opacity .35s);
				}
			}

			p {
        position: relative;
        left: 0;
        right: 0;   
        padding-left: 20px;
        padding-right: 20px;     
				.font-size(14);
				font-weight: 300;
        letter-spacing: 1px;
				.transition(transform .35s, opacity .35s);
			}
		}

		&.effect-one {
      text-align: right;


			figcaption {
				h2 {
          position: absolute;
					top: 30px;
					right: 30px;
					left: 30px;
					.translate3d(0, 20px, 0);

					&:after {
						content: '';
						width: 100%;
						height: 4px;
						background-color: white;
						.opacity(0);
						.translate3d(0,20px,0);
						position: absolute;
						left: 0;
						bottom: 0;
					}
				}

				p {
          text-align: right;
          position: absolute;
					bottom: 30px;
					.translate3d(0,20px,0);
					.opacity(0);
				}
			}

      &:hover {
        figcaption {
          h2 {
            .translate3d(0,0,0);

            &:after {
              .opacity(1);
              .translate3d(0,0,0);
            }
          }

          p {
            .opacity(1);
            .translate3d(0,0,0);
          }          
        }
      }      
		}

    &.effect-two {
      text-align: right;
      .transition(background 1s ease);

      img {
        .transition(transform .35s ease);
        .scale(1.05);
      }      

      figcaption {

        h2 {
          .translate3d(0, 20px, 0);
          text-align: center;
          margin-top: 1em;
        }

        p {
          text-align: center;
          padding: 3em;
          border: 1px solid white;
          .translate3d(0,20px,0);
          .opacity(0);
        }

      }

      &:hover {

        img {
          .scale(1);
        }

        figcaption {
          h2 {
            .translate3d(0,0,0);

            &:after {
              .opacity(1);
              .translate3d(0,0,0);
            }
          }

          p {
            .opacity(1);
            .translate3d(0,0,0);
          }       
        }
      }      
    }

    &.effect-three {
      text-align: right;
      .transition(background 1s ease);

      img {
        .transition(transform .35s ease);
        .transform(scale(1), translate3d(0,0,0));
      }      

      figcaption {

        h2 {
          position: absolute;
          text-align: right;
          bottom: 0;
          right: 20px;
        }

        p {
          text-align: left;
          border-right: 1px solid white;
          padding: 0;
          padding-right: 10px;
          width: 50%;
          .translate3d(-40px,0,0);
          .opacity(0);
        }

      }

      &:hover {
        img {
          .transform(scale(1.1), translate3d(-10px,10px,0));
        }

        figcaption {
          h2 {
            .translate3d(0,0,0);

            &:after {
              .opacity(1);
              .translate3d(0,0,0);
            }
          }

          p {
            .opacity(1);
            .translate3d(0,0,0);
          }        
        }
      }      
    }

	}
}

#frontpage_kontakt {
  background-image: url('/static/temp/contact.jpg');
  background-size: cover;
  padding-top: 100px;
  min-height: 600px;

  .frontpage_ansatte {
    width: 72%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;

    .col {
      width: 30%;
      display: inline-block;
      text-align: center;
      margin-right: 20px;
      vertical-align: top;
      color: white;

      >img {
        border-radius: 50%;
        width: 80%;
        border: 5px solid white;
        margin-bottom: 10px;
        .transition(transform .75s ease);
        .transform(scale(0.9), rotate(0));
      }

      .text_extended {
        .transition(opacity .45s, transform .45s);
        .opacity(0);
        .transform(scale(0), translate3d(0,100px,0));
        margin-top: 15px;
      }

      h3 {
        font-weight: 500;
        .font-size(21);
        .uppercase;
      }

      &:hover {
        >img {
           .transform(scale(1), rotate(5));
        }

        .text_extended {
          .opacity(1);
          .transform(scale(1), translate3d(0,0,0));
        }

       
      }

    }
  }

  .reformed-form {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-top: 30px;

    .btn {
      text-align: center;
    }
  }

}

#case_slide-container {
  background-color: white;

  .text, .video {
    width: 50%;
    display: inline-block;
  }

  .row {
    margin-top: 20%;
  }

  .text {
    margin-left: 50px;
    h1 {
      color: white;
      text-transform: none;
      font-family: @raleway;
      .font-size(70);
      font-weight: 100;
    }
  }

  .video {

  }

}



// FORM
.reformed-form {

  .pos-rel {
    position: relative;

    input {
      background-color: transparent;
      border: 2px solid white;
      padding: 5px;
      margin-bottom: 20px;
      width: 100%;
      .transition(margin-top .35s ease-in-out);
      color: white;
      font-weight: 500;

      &.focus {
        margin-top: 20px;
      }

    }

    label {
        position: absolute;
        top: 6px;
        left: 8px;
        color: white;
        font-weight: 500;
        .uppercase;
        .transition(top .35s, left .35s, font-size .35s ease-in-out, opacity .55s ease-in-out);
        .opacity(1);

        &.focus {
          top: -5px;
          .font-size(14);
        }

        &.has-val {
          .opacity(0);
        }        
    }

    input:focus {
      label: top: 0px;
    }
  }

}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.slide-container {
  /* Specify Swiper's Size: */

  /*width:200px;
  height: 100px;*/
  height: 100%;
  border: 10px solid white;
  border-bottom: 0;
  background-color: #1e1815;
  position: relative;
  overflow: hidden;
}
.slide {
  /* Specify Slides's Size: */
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  .opacity(0);
  .transition(opacity 1.5s ease-in-out, transform 1.5s ease-in-out);
  .transform(scale(1.05), translate3d(0,10px,0));
  .backface-visibility(hidden);

  &:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #8F6E67;
    .opacity(0.2);
  }  

  &.current {
    pointer-events: auto;
    .transition(opacity 1.5s ease-in-out, transform 1.5s ease-in-out);
    .opacity(1);
    .transform(scale(1), translate3d(0,0,0));
  }

  &.fadeOut {
    .transition(opacity 1.5s cubic-bezier(0.7, 0, 0.3, 1), transform 1.5s cubic-bezier(0.7, 0, 0.3, 1));
    .transform(scale(1.1));
  }

}

ul.pagination {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 32px;
  width: 100%;
  text-align: center;
  .rotate(-3deg);

  li.dot {
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background: white;
    .transition(transform 1s cubic-bezier(0.7, 0, 0.3, 1) .3s, opacity 1s cubic-bezier(0.7, 0, 0.3, 1) .3s);
    .opacity(0.8);
    .transform(scale(0.8), translate3d(0,0,0));

    &.active {
      .transform(scale(1), translate3d(0,-3px,0));
      .opacity(1);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

/*****************************************/
/* Buttons */
/*****************************************/

.btn {
  width: 100px;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .font-size(16);
  .line-height(16);
  .transition(transform .35s ease, opacity .35s ease);
  background-color: white;
  border: none;

  a {
    display: block;
    padding: 5px;
    color: @color_pr3;
    font-family: @raleway;
    font-weight: 500;
    .font-size(13);
    .uppercase;
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid white;
    color: white;

    a {
      .transition(background-color .35s ease);
      background-color: transparent;
      position: relative;
      color: white;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        .transition(transform .55s ease, opacity .55s ease);
        .opacity(1);
        .scale(1);
      }

      &:hover {
        background-color: white;
        color: @color_pr3;

        &:before {
          .scale(1.2);
          .opacity(0);
        }
      }
    }
  }
}

/*****************************************/
/* Key frames */
/*****************************************/


/*****************************************/
/* Soft Scale */
/*****************************************/

.navOutNext {
  .animation(scaleUp 1s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.navInNext {
  .animation(scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1));

}

.navOutPrev {
  .animation(scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.navInPrev {
  .animation(scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1));
}

.keyframes(~'scaleUp, from{ } to{ transform: scale(1.1); opacity: 0 }');
.keyframes(~'scaleDownUp, from{ transform: scale(0.9); opacity: 0} to{ transform: scale(1); opacity: 1 }');
.keyframes(~'scaleDown, from{ } to{ transform: scale(0.9); opacity: 0 }');
.keyframes(~'scaleUpDown, from{ transform: scale(1.1); opacity: 0} to{ transform: scale(1); opacity: 1 }');

.nicescroll-rails div{
  background-color: rgb(175, 175, 175)!important;
  width: 8px!important;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
