@import "_inc/normalize";
@import "_inc/mustasj";
@import "_inc/boilerplate";
@import "_inc/variables";
@import "_inc/arranger";

@media #{$tablet} {

}

.arranger {
  height: 100%;
  overflow: hidden;
  font-family: Open Sans,sans-serif;
}

html {
  height: 100%;
}

// HEADER OG FOOTER

// MAIN HEADER NAV
.nav_main {
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
    padding-right: 40px;
    z-index: 10;
    padding-top: 10px;

    @media #{$tablet} {
        text-align: right;
    }

    ul {
        position: relative;
        z-index: 1;

        li {
            display: inline-block;
            position: relative;
            margin-left: 4px;
            margin-right: 4px;
            opacity: 0;
            transform: translate3d(0, 200%, 0);

            &:nth-of-type(1) {
                transition: transform 1s ease 2s, opacity .2s ease 2s;
            }

            &:nth-of-type(2) {
                transition: transform 1s ease 2.2s, opacity .2s ease 2.2s;

            }

            &:nth-of-type(3) {
                transition: transform 1s ease 2.4s, opacity .2s ease 2.4s;
            }

            &:nth-of-type(4) {
                transition: transform 1s ease 2.6s, opacity .2s ease 2.6s;
            }

            a {
                color: #FFF;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 15px;
                cursor: pointer;
            }

            &.facebook{
                display: none;
                margin-left: 40px;
                &:before { display: none; }

                @media #{$tablet} {
                    display: inline-block;
                }
            }

            // Interpunct
            &:before {
                position: absolute;
                color: transparent;
                top: 60%;
                left: 50%;
                content: '•';
                text-shadow: 0 0 transparent;
                font-size: 1.2em;
                transition: text-shadow .3s ease-in-out, color .3s ease-in-out, transform .3s ease-in-out;
                transform: translateX(-50%);
                pointer-events: none;
            }

            .no-touch &:hover:before {
                color: #fff;
                text-shadow: 10px 0 #fff, -10px 0 #fff;
            }

            &.active {
                .no-touch &:hover:before {
                    color: $color_pr1;
                    text-shadow: 10px 0 $color_pr1, -10px 0 $color_pr1;
                }
            }

        }

    }

}

// LOGO
.logo {
    position: absolute;
    display: block;
    top: 50px;
    left: 5%;
    height: 90px;
    width: 125px;
    z-index: 2;

    .circle {
        transition: opacity .35s ease, transform 1s $cubicbezier 1s;
        transform-origin: 50% 50%;
        transform: scale(0);
        opacity: 0;
    }

    .logoelement {
        transition: transform 1s $cubicbezier 1.5s;
        transform-origin: 50% 50%;
        transform: scale(0);
    }
}

// FOOTER
footer {
    text-align: center;
    padding: 20px;
    padding-bottom: 5px;

    img {
        display: inline-block;
        vertical-align: top;
        margin-right: .7em;
        margin-bottom: 10px;
    }

    .footer_logo {
        width: 100%;
        padding: 0 40% 0 40%;
        margin-bottom: 20px;

        @media #{$tablet} {
            width: 70px;
            padding: 0;
            margin-bottom: 0;
            float: left;
        }
    }

    ul {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;

        @media #{$tablet} {
            width: 80%;
        }

        li {
            display: inline-block;
            margin-right: 0;
            width: 49%;
            margin-top: 10px;

            @media #{$desktop} {
                width: 15%;
                margin-right: 50px;
                margin-top: 0;
            }

            img {
                position: relative;
                transition: top .35s ease;
                top: 0;
            }

            &:hover img {
                top: -5px;
            }

            span {
                width: 100%;
            }

        }

        .facebook, .vimeo {
            position: relative;

            span {
                margin-top: -5px;
                position: relative;
            }
        }

        .facebook {
            margin-right: 0;

            @media #{$desktop} {
                margin-left: 15%;
            }
        }

    }

    span {display: inline-block; vertical-align: top; }
}


// MODULES

// TOPP-MODUL
.top {
    height: 500px;
    border: 10px solid #FFF;
    //transform: translateZ(0);

    @media #{$desktop} {
      height: 70vh;
    }

    .divider:after {
        width: 101%;
        margin-left: -1%;
    }

    .top-content {
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: relative;

        &:after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(143, 103, 126, 0.2);
        }
    }

    h1, .h1{
        font-family: $font_playfair;
        text-transform: none;
        opacity: 0;
        transform: translate3d(0,20px,0);
    }
    span a{
        font-size: $basesize;
        opacity: 0;
        transform: translate3d(0,20px,0);
    }

    span {
        opacity: 0;
        transform: translate3d(0,20px,0);
    }

    h1 {
        transition: opacity .55s $cubicbezier 1.9s, transform .55s $cubicbezier 1.9s;
    }

    .h1 {
        transition: opacity .55s $cubicbezier 1.9s, transform .55s $cubicbezier 2s;
    }

    span {
        transition: opacity .55s $cubicbezier 2.1s, transform .55s $cubicbezier 2.1s;
    }

    span a{
        transition: opacity .55s $cubicbezier 2.1s, transform .55s $cubicbezier 2.1s;
    }

    .text {
        width: 100%;
        text-align: center;
        z-index: 1;
        position: relative;
        top: 70%;
        transform: translateY(-50%);
        color: #FFF;

        span a{
            position: relative;
            font-size: 20px;
            font-weight: 300;
            text-transform: initial;
            line-height: 1.5em;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: #FFF;
            }
        }

    }

    @media #{$desktop} {
        h1, .h1{ font-size: 40px; }
    }



}

// GRID-MODUL SOM LISTER UT JOBBER
.grid {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 0;
    border: 10px solid #FFF;

    article {
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        margin: -0.135em;
        width: 100%;
        background: #8F6E67;
        text-align: center;
        cursor: pointer;
        backface-visibility: hidden;

        @media #{$tablet} {
            width: 50%;
        }

        @media #{$desktop} {
            width: 33.3333%;
        }

        img {
            min-width: 100%;
			min-height: 100%;
            opacity: .7;
            position: relative;
            display: block;
        }

        .video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: opacity .35s, padding .35s;
            padding: 0;
            opacity: 0;
        }

        figcaption {
            padding: 2em;
            color: #FFF;
            text-transform: uppercase;
            font-size: $basesize;
            backface-visibility: hidden;
            transition: opacity .35s;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            h2 {
                position: relative;
                word-spacing: -0.15em;
                font-weight: 700;
                font-size: 28px;
                color: #FFF;
                transition: transform .35s, opacity .35s;

                span {
                    font-weight: 800;
                }

                &:after {
                    transition: transform .35s, opacity .35s;
                }
            }

            p {
                position: relative;
                left: 0;
                right: 0;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 1px;
                transition: transform .35s, opacity .35s;
            }

            .icon_play {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20%;
                height: 20%;
                margin-top: -5%;
                margin-left: -9%;
                transition: transform .55s, opacity .55s;
                transform: translate3d(0,10px,0);
                opacity: 0;

                polygon {
                    transform: translate3d(0,0,0);
                }

                &:hover polygon {
                    fill: #FFF;
                    transform: translate3d(0,-10px,0);
                }
            }
        }

        &.video_active {
            .video { opacity: 1; z-index: 10; }

            figcaption { opacity: 0; }
        }

        &.effect-one {
            text-align: right;

            img {
                transition: transform .75s ease;
                transform: scale(1.05);
                transform-origin: 50%;
            }


            figcaption {
                h2 {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    left: 30px;
                    transform: translate3d(0,0,0);

                    @media #{$desktop} {
                        transform: translate3d(0,20px,0);
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        height: 4px;
                        background-color: #FFF;
                        transform: translate3d(0,0,0);
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        @media #{$desktop} {
                            opacity: 0;
                            transform: translate3d(0,20px,0);
                        }
                    }
                }

                p {
                    text-align: right;
                    position: absolute;
                    bottom: 30px;
                    transform: translate3d(0,0,0);

                    @media only screen and (min-width: 1025px) {
                        transform: translate3d(0,20px,0);
                        opacity: 0;
                    }
                }
            }

            .icon_play {
                top: 79%;
            }


            &:hover {

                img {
                    transform: scale(1);
                }

                figcaption {
                    h2 {
                        transform: translate3d(0,0,0);

                        &:after {
                            opacity: 1;
                            transform: translate3d(0,0,0);
                        }
                    }

                    .icon_play, p {
                        opacity: 1;
                        transform: translate3d(0,0,0);
                    }

                }
            }
        }


    }

    article:nth-of-type(1) {
        h2 { margin-top: 1em;  }
    }

    article:nth-of-type(2) {
        h2 { margin-top: .75em;  }
    }

    .btn { margin-top: 2em; }
}

.module_divider {
    font-size: 0;
    border: 10px solid #FFF;
    overflow: hidden;

    .eq1, .eq2 {
        width: 100%;
        display: inline-block;
        position: relative;
        z-index: 0;
        vertical-align: top;
        height: 450px;
        backface-visibility: hidden;

        // Kun fra desktop, forbi ipad
        @media only screen and (min-width: 1025px) {
            width: 50%;
        }

		@media #{$desktop} {
			height: 650px;
		}

        .sizer-div{

            &:after {
                background: (rgba(143, 110, 103, 0.2));
                content: '..';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            img {
				min-width: 120%;
				min-height: 100%;
                transition: transform .55s;
            }

        }

        .text {
            position: absolute;
            top: 40%;
            bottom: 0;
            width: 100%;
            color: white;

            @media only screen and (min-width: 1025px) {
                right: -10%;
                width: 70%;
                transition: transform .45s;
                top: 50%;
            }

            .tittel {
                position: relative;
                top: 0;
                text-transform: uppercase;
                text-align: center;
                color: #FFF;
                font-weight: 300;
                font-size: 28px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 10%;
                    right: 10%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 4px;
                    background-color: #FFF;


                    @media only screen and (min-width: 1025px) {
                        transition: transform .25s $cubicbezier, opacity .25s $cubicbezier;
                        opacity: 0;
                        transform: translate3d(0,20px,0);
                    }
                }

                span {
                    font-weight: 800;
                }
            }

            .paragraph {
                font-weight: 300;
                font-size: 14px;
                text-align: center;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;

                @media only screen and (min-width: 1025px) {
                    transition: opacity .35s $cubicbezier, transform .35s $cubicbezier;
                    transform: translate3d(0,20px,0);
                    opacity: 0;
                    //width: 100%;
                }
            }

        }

        .no-touch &:hover {

          .text { transform: translate3d(0,-50px,0); }

          .tittel:after { opacity: 1; transform: translate3d(0,0,0); }

          .paragraph {
            opacity: 1;
            transform: translate3d(0,0,0);
          }
        }

    }

    .eq1 {
        z-index: 2;

        .sizer-div {
            backface-visibility: hidden;
            overflow: hidden;
            right: 10%;
            left: 0;
            width: 100%;

            @media only screen and (min-width: 1025px) {
                right: -12%;
                left: -12%;
                width: 125%;
                transition: transform .55s;
                transform: skew(-16deg) translate3d(-50px, 0,0);
            }

            @media only screen and (min-width: 600px) {
                width: 135%;
            }

            img {
                position: relative;

                @media only screen and (min-width: 1025px) {
                    transition: transform .55s;
                    transform: skew(16deg) scale(1.1);
                }
            }


        }

        .no-touch &:hover {
            .sizer-div {
                transform: scale(1.05) skew(-16deg) translate3d(0,0,0);
            }
        }

    }

    .eq2 {
        .text {

            @media only screen and (min-width: 1025px) {
                right: 10%;
            }
        }

        .no-touch &:hover {
            .sizer-div {
                img {
                    transform: scale(1.05) translate3d(0,0,0);
                }
            }
        }

    }

}

.map_wrapper {
    height: 400px;
    border: 10px solid #FFF;

    @media #{$desktop} {
        height: 500px;
    }
}

#map {
    height: 100%;
}


// GFX

.divider {
    position: relative;
    width: 100%;
    margin: 0;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 40px;
        bottom: -30px;
        left: 0;
        background: #FFF;
        transform: rotate(1);
        z-index: 3;

        @media #{$desktop} {
          height: 60px;
        }
    }

    &.down {
        &:after {
            transform: rotate(-1deg);
            top: -15px;
        }
    }

    &.colored {
        &:after {
            background: $color_sec1;
        }
    }


}

.emblem-heading {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;

    h2 {
        position: relative;
    }

    h2:before {
        content: '';
        background-image: url('/static/img/logo_emblem.svg');
        background-repeat: no-repeat;
        height: 30px;
        width: 24px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: .7em;
        margin-bottom: .5em;
    }
}

.btn {
    max-width: 140px;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: $basesize;
    line-height: 1em;
    transition: transform .35s, opacity .35s, color .35s, background-color .35s;

    background-color: white;
    border: $color_pr1;
    border-radius: 5px;

    &.small {
        width: 100px;
    }

    a {
        display: block;
        padding: 10px;
        color: $color_pr3;
        font-family: $font_default;
        font-weight: 700;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0;
    }

    &.transparent {
        background-color: transparent;
        border: 1px solid #FF;
        color: white;

        a {
            transition: background-color .35s ease;
            background-color: transparent;
            position: relative;
            color: #FFF;

            &:hover {
                background-color: #FFF;
                color: $color_pr3;
            }
        }
    }

    &.border {
        border: 2px solid $color_pr1;

        &:hover {
            background: $color_pr1;
            border: 2px solid #FFF;

            a { color: #FFF;}
        }
    }
}

.unstyled {
    list-style: none;
    padding: 0;
}

/*****************************************/
/* Key frames */
/*****************************************/


/*****************************************/
/* Soft Scale */
/*****************************************/

.navOutNext {
    animation: scaleUp 1s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.navInNext {
    animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);

}

.navOutPrev {
    animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}

.navInPrev {
    animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}


@-webkit-keyframes scaleUp { from { } to { transform: scale(1.1); opacity: 0 } }
@-webkit-keyframes scaleDownUp { from { } to { transform: scale(1.1); opacity: 0 } }
@-webkit-keyframes scaleDown { from { } to { transform: scale(0.9); opacity: 0 } }
@-webkit-keyframes scaleUpDown { from { transform: scale(1.1); opacity: 0} to { transform: scale(1); opacity: 1 } }

.nicescroll-rails div{
    background-color: rgb(175, 175, 175)!important;
    width: 8px!important;
}

.fluid-width-video-wrapper {
    height: 100%;
}


// SELVE SIDEN

html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
  //  transition: transform 1s $cubicbezier .2s, opacity 1s $cubicbezier;
    //transform: translate3d(0, -80px, 0);
  //  opacity: 0;
}

// SITE LOADED
.lastet {
    .nav_main ul li {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    .logo {
        .circle {
            transform: scale(1);
            opacity: 1;
        }

        .logoelement {
            transform: scale(1);
        }

    }

    .forside {
        .logo .circle { opacity: 0.8;}
    }

    .top {
        h1, .h1, span, span a {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
    }

    body {
        transform: translate3d(0,0,0);
        opacity: 1;
    }

}

// FORSIDE
.forside {
    height: 100%;

    .logo {
		top: 100px;
	    left: 50%;
	    height: 120px;
	    width: 115px;
	    margin-left: -57px;

        @media #{$desktop} {
            top: 80px;
            height: 250px;
            width: 250px;
            margin-left: -125px;
        }
    }

    #frontpage_kunder {
        padding-top: 4em;
        padding-bottom: 2.5em;
        background: $color_sec1;
        border: 10px solid #FFF;

        @media #{$desktop} {
            padding-top: 7em;
        }

        .row {
            text-align: center;
            a {
                width: 80px;
                margin-right: 40px;
                display: inline-block;
                position: relative;
                transition: transform .35s ease-in-out, opacity .35s ease-in-out;
                opacity: 0.7;
                transform: translate3d(0,0,0);

                .no-touch &:hover {
                    transform: translate3d(0, -5px, 0);
                    opacity: 1;
                }

                @media #{$desktop} {
                    width: auto;
                }
            }

            img {
                width: 100%;
            }
        }

        .divider:after {
            top: 20px;
        }
    }
}


.underside {
    height: 100%;

	.nav_main {
		text-align: right;
	}

    .logo {
        top: 10px;
        left: 0;

        .circle {display: none; }

        @media #{$desktop} {
            height: 150px;
            width: 150px;
            margin: 0;
            left: 20px;
            top: 0px;
        }
    }

    .top .text{
        top: 50%;

        @media #{$desktop} {
            top: 55%;
        }
    }

    .emblem {
        height: 60px;
        width: 60px;
        position: absolute;
        top: -37px;
        left: 50%;
        margin-left: -30px;
        background-color: white;
        border-radius: 50%;
        z-index: 4;
        text-align: center;

        @media #{$desktop} {
            top: -57px;
        }

        img {
            width: 25px;
            display: inline;
            position: relative;
            top: 10px;
        }
    }

    .article_body {
        margin-top: 60px;
        margin-bottom: 60px;

        @media #{$desktop} {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        h1 {
            font-weight: 800;
            margin-left: 0;
            margin-bottom: 27px;
            width: 50%;

            @media #{$desktop} {
                margin-left: -25px;
            }
        }

        h2 {
            text-transform: none;
            font-weight: 800;
            margin-bottom: 2em;
            margin-left: 25px;

            @media #{$desktop} {
                margin-left: 0;
            }
        }

        article {
            display: inline-block;
            width: 100%;

            @media #{$desktop} {
                width: 40%;
            }
        }

        aside {
            display: inline-block;
            width: 100%;
            vertical-align: top;
            margin-top: 30px;

            @media #{$desktop} {
                width: 35%;
                margin-left: 20%;
                margin-top: 0;
            }


            .info-tekst {
                position: relative;
                padding-left: 27px;
                margin-bottom: 4em;
                margin-top: 4em;

                @media #{$desktop} {
                    margin-bottom: 6em;
                    margin-top: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        top: -5%;
                        left: 0;
                        height: 110%;
                        width: 1px;
                        background: black;
                    }
                }
            }

            img {
                max-width: 100%;
            }

            .aside-img {
                p { margin: .5em 0 0 .5em; }
            }
        }
    }
}

.jobber {
    .top { height: 20vh; }
    .top-content:after { background: rgba(102, 92, 108, 1); }

    footer {
        margin-top: 20px;
    }
}
