{% extends "_layout" %}
{% set bodyClass = "forside" %}

{% set desktop = {
mode: 'crop',
width: 1400,
height: 1400,
quality: 85,
position: 'center-center'
} %}

{% set tablet = {
mode: 'crop',
width: 800,
height: 800,
quality: 85,
position: 'center-center'
} %}

{% set phone = {
mode: 'crop',
width: 400,
height: 400,
quality: 85,
position: 'center-center'
} %}

{% block content %}

{% set forside = craft.entries.section('forside').first() %}

<section class="top">

    <div class="top-content setsrc" data-desktop="{{ forside.toppbilde.first().getUrl(desktop) }}"
         data-tablet="{{ forside.toppbilde.first().getUrl(tablet) }}"
         data-phone="{{ forside.toppbilde.first().getUrl(phone) }}" data-id='1'>
        <div class="text">
            <h1>{{forside.tittel}}</h1>
            <span>
                {{forside.undertittel}}
            </span>
            <!--
<p>Lyd som gir liv til gode historier</p>
<p>Lyden av den gode historie</p>
<p>Lyden som gir liv til din historie</p>
<p>Lyden gir liv til den gode historie</p>
-->

        </div>
    </div>
    <figure class="divider"></figure>
</section>

<section class="row">
    <figure class="emblem-heading">
        <h2>Utvalgte<strong> jobber</strong></h2>
    </figure>
</section>

<figure class="divider down"></figure>

<section class="jobber grid">
    {% for block in forside.utvalgteJobber %}

        {% set video = craft.embedder.url(block.video, {max_width:500, max_height:800}) %}

        <article class="effect-one">
            <img class="sizer" src="http://placehold.it/350x250">
            <div class="sizer-div">
                <img src="{{ video.video_highres }}">
                <div class="video">
                    {{ video.embed_code }}
                </div>
                <figcaption>
                    <h2>{{block.title}}</h2>
                    <p>{{block.tekst}}</p>
                    <span class="icon_play">
                        <?php include "/static/img/icon_play.svg" ?>
                    </span>
                </figcaption>
            </div>
        </article>
    {% endfor %}

    <div class="row centered">
        <div class="btn border">
            <a href="">Se alle jobber</a>
        </div>
    </div>
</section>

<section class="row">
    <figure class="emblem-heading">
        <h2>Hva vi er <strong>gode</strong> på</h2>
    </figure>
</section>

<figure class="divider down"></figure>

<section id="frontpage_studio-foley" class="module_divider">
    {% for block in forside.tjenester %}
    <article class="eq{{ loop.index}}">
            <div class="sizer-div">
                <img class="setsrc" data-phone="{{ block.bilde.first().getUrl(phone) }}" data-tablet="{{ block.bilde.first().getUrl(tablet) }}" data-desktop="{{ block.bilde.first().getUrl(tablet) }}"src="{{ block.bilde.first().getUrl(tablet) }}">
            </div>

            <div class="text">
                <div class="tittel">{{block.tittel}}</div>
                <div class="paragraph">{{block.tekst}}</div>
                <span class="btn transparent small">
                    {{block.link}}">
                </span>
            </div>

        </article>
    {% endfor %}

</section>

<section class="row">
    <figure class="emblem-heading">
        <h2>Noen av våre<strong> samarbeidspartnere</strong></h2>
    </figure>
</section>

<figure class="divider"></figure>

<section id="frontpage_kunder">
    <div class="row">

        {% for asset in forside.samarbeidspartnere %}
        <a><img src="{{ asset.url }}"></a>
        {% endfor %}

    </div>
    <figure class="divider down colored"></figure>
</section>

<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
