{% extends "_layout" %}
{% set bodyClass = "forside" %}

{% block content %}


<section class="top">

    <!--First Slide-->
    <div class="top-content setsrc" data-desktop="/static/img/stock12.jpg"
         data-tablet="static/temp/SUITE01_3-EDIT.jpg"
         data-phone="static/temp/SUITE01_3-EDIT.jpg" data-id='1'>
        <div class="slide-text">
            <h1>Lyden av den gode historie</h1>
            <span>
                <a href="">Musikk </a>,
                <a href="">lyddesign </a>,
                <a href="">voiceover </a>og
                <a href="">foley</a>
            </span>
            <!--
<p>Lyd som gir liv til gode historier</p>
<p>Lyden av den gode historie</p>
<p>Lyden som gir liv til din historie</p>
<p>Lyden gir liv til den gode historie</p>
-->

        </div>
    </div>
    <figure class="divider down"></figure>
</section>

<section class="row">
    <figure class="emblem-heading">
        <h2>Utvalgte<strong> jobber</strong></h2>
    </figure>
</section>

<figure class="divider down"></figure>

<section class="jobber grid">

    <article class="effect-two">
        <img class="sizer" src="http://placehold.it/350x250">
        <div class="sizer-div">
            <img src="/static/temp/bg.jpg">
            <div class="video">
                <iframe src="//player.vimeo.com/video/39739082" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <figcaption>
                <h2>Lorem <span>ipsum</span></h2>
                <p>Roxy was my best friend. She'd cross any border for me.</p>
                <span class="icon_play">
                    <?php include "/static/img/icon_play.svg" ?>
                </span>
            </figcaption>
        </div>
    </article>

    <article class="effect-one">
        <img class="sizer" src="http://placehold.it/350x250">
        <div class="sizer-div">
            <img src="/static/temp/bg8.jpg">
            <div class="video">
                <iframe src="//player.vimeo.com/video/110128159" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <figcaption>
                <h2>Lorem <span>ipsum</span></h2>
                <p>Roxy was my best friend. She'd cross any border for me.</p>
                <span class="icon_play">
                    <?php include "/static/img/icon_play.svg" ?>
                </span>
            </figcaption>
        </div>
    </article>

    <article class="effect-three">
        <img class="sizer" src="http://placehold.it/350x250">
        <div class="sizer-div">
            <img src="/static/temp/bg7.jpg">
            <figcaption>
                <h2>Lorem <span>ipsum</span></h2>
                <p>Milo went to the woods. He took a fun ride and never came back.</p>
                <span class="icon_play">
                    <?php include "/static/img/icon_play.svg" ?>
                </span>
            </figcaption>
        </div>
    </article>

    <article class="effect-one">
        <img class="sizer" src="http://placehold.it/350x250">
        <div class="sizer-div">
            <img src="/static/temp/bg4.jpg">
            <figcaption>
                <h2>Lorem <span>ipsum</span></h2>
                <p>Roxy was my best friend. She'd cross any border for me.</p>
            </figcaption>
        </div>
    </article>

    <article class="effect-one">
        <img class="sizer" src="http://placehold.it/350x250">
        <div class="sizer-div">
            <img src="/static/temp/bg5.jpg">
            <figcaption>
                <h2>Lorem <span>ipsum</span></h2>
                <p>Milo went to the woods. He took a fun ride and never came back.</p>
            </figcaption>
        </div>
    </article>

    <article class="effect-one">
        <img class="sizer" src="http://placehold.it/350x250">
        <div class="sizer-div">
            <img src="/static/temp/bg6.jpg">
            <figcaption>
                <h2>Lorem <span>ipsum</span></h2>
                <p>Roxy was my best friend. She'd cross any border for me.</p>
            </figcaption>
        </div>
    </article>

    <div class="row centered">
        <div class="btn border">
            <a href="">Se alle jobber</a>
        </div>
    </div>
</section>




{% endblock %}
