html {
  -webkit-transition: -webkit-transform 1.2s 0.3s ease, opacity 1.2s 0.3s ease;
  -moz-transition: -moz-transform 1.2s 0.3s ease, opacity 1.2s 0.3s ease;
  -o-transition: -o-transform 1.2s 0.3s ease, opacity 1.2s 0.3s ease;
  transition: -webkit-transform 1.2s 0.3s ease,-moz-transform 1.2s 0.3s ease,-o-transform 1.2s 0.3s ease,transform 1.2s 0.3s ease, opacity 1.2s 0.3s ease;
  -webkit-transform: translate3d(0, -80px, 0);
  -moz-transform: translate3d(0, -80px, 0);
  -o-transform: translate3d(0, -80px, 0);
  -ms-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
  opacity: 0;
}
html.lastet {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
html.lastet-ferdig {
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
}
html.livePreview {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
