/** NORMALIZE ALREADY IMPORTED**/
/** BOILERPLATE AND MUSTASJ FIXES **/
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Mustasj fixes */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  outline: 0;
  text-decoration: none;
}
html,
button,
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  outline: none;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.scroll-cover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  pointer-events: auto !important;
  z-index: 10000;
}
div#important_msg {
  position: fixed;
  z-index: 1000;
  left: 10px;
  right: 10px;
  text-align: center;
  display: block;
  top: 0px;
  -webkit-transition: top 1s ease 5s;
  -moz-transition: top 1s ease 5s;
  -o-transition: top 1s ease 5s;
  transition: top 1s ease 5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.js div#important_msg {
  top: -40px;
}
div#important_msg span {
  position: relative;
  background: #4e4e4e;
  padding: 5px 8px;
  color: white;
  display: inline-block;
  font-size: 13px;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  border-radius: 0 0 5px 5px;
  background-clip: padding-box;
}
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled li {
  list-style: none;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
/** TOOLS **/
/** BASE **/
/*-------------------------------

@COLOR AND FONT VARIABLES

------------------------------- */
/* COLOR PALETTE */
/*-------------*/
/* FONT SIZES*/
/*----------------------------*/
/* bruk .font-size(@h1) f. eks */
/* brukes av h1 */
/* brukes av h2 */
/* brukes av h3 */
/* brukes av h4 */
/* brukes av h5 */
/* brukes av h6 og @basesize(p) */
/* mindre enn base*/
/* Basesize brukes for å kalkulere em og rem */
/* HEADING SIZES*/
/*----------------------------*/
/* FONTS FACE VARIABLES */
/**************************/
/* DEFAULT FONT LOOKS AND BEHAVIOUR - MEDIA QUERIES - MOBILE FIRST */
/*******************************************************************/
h1,
h2,
h3,
h4,
h5,
h6,
b,
p,
strong,
textarea.textarea,
a {
  margin: 0;
  font-weight: normal;
  font-variant: normal;
}
html,
button,
input,
select,
textarea {
  font-family: 'Raleway', sans-serif;
}
body {
  color: #392b28;
  font-size: 16px;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}
h1,
.h1 {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 100;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: .5em;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: .5em;
}
h5,
.h5 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: .5em;
}
h6,
.h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: .5em;
}
b,
strong {
  font-variant: normal;
  font-weight: 900;
}
/* SELECTION */
::selection {
  background: #5b5657;
  /* Safari */
  color: white;
}
::-moz-selection {
  background: #5b5657;
  /* Firefox */
  color: white;
}
/* LINK COLORS */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #5b5657;
}
/** OBJECTS **/
/** ROW WITH CENTERED AND MAXWIDTH **/
.row,
[class*="row-"] {
  max-width: 1241px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.row-small {
  max-width: 800px;
}
.sizer-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.sizer {
  width: 100%!important;
  min-height: inherit!important;
  visibility: hidden;
}
.top {
  height: 50vh;
  border: 10px solid white;
}
@media only screen and (min-width: 1024px) {
  .top {
    height: 70vh;
  }
}
.top .divider:after {
  width: 101%;
  margin-left: -1%;
}
.top .top-content {
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.top .top-content:after {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(143, 103, 126, 0.2);
}
.top .text {
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  top: 65%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}
.top .text h1 {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: .2em;
}
.top .text span {
  position: relative;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: initial;
  line-height: 1.5em;
  text-decoration: none;
}
.top .text span:before {
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  top: 0;
  left: 0;
}
.grid {
  overflow: hidden;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
  list-style: none;
  text-align: center;
  font-size: 0;
  border: 10px solid white;
}
.grid article {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 100%;
  background: #8F6E67;
  text-align: center;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (min-width: 600px) {
  .grid article {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .grid article {
    width: 33.3333%;
  }
}
.grid article img {
  min-width: 100%;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  position: relative;
  display: block;
}
.grid article .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.35s, padding 0.35s;
  -moz-transition: opacity 0.35s, padding 0.35s;
  -o-transition: opacity 0.35s, padding 0.35s;
  transition: opacity 0.35s, padding 0.35s;
  padding: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.grid article figcaption {
  padding: 2em;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid article figcaption h2 {
  position: relative;
  word-spacing: -0.15em;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  color: white;
  -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
  -moz-transition: -moz-transform 0.35s, opacity 0.35s;
  -o-transition: -o-transform 0.35s, opacity 0.35s;
  transition: -webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s, opacity 0.35s;
}
.grid article figcaption h2 span {
  font-weight: 800;
}
.grid article figcaption h2:after {
  -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
  -moz-transition: -moz-transform 0.35s, opacity 0.35s;
  -o-transition: -o-transform 0.35s, opacity 0.35s;
  transition: -webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s, opacity 0.35s;
}
.grid article figcaption p {
  position: relative;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
  -moz-transition: -moz-transform 0.35s, opacity 0.35s;
  -o-transition: -o-transform 0.35s, opacity 0.35s;
  transition: -webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s, opacity 0.35s;
}
.grid article figcaption .icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  margin-top: -5%;
  margin-left: -9%;
  -webkit-transition: -webkit-transform 0.55s, opacity 0.55s;
  -moz-transition: -moz-transform 0.55s, opacity 0.55s;
  -o-transition: -o-transform 0.55s, opacity 0.55s;
  transition: -webkit-transform 0.55s,-moz-transform 0.55s,-o-transform 0.55s,transform 0.55s, opacity 0.55s;
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  -o-transform: translate3d(0, 10px, 0);
  -ms-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.grid article figcaption .icon_play polygon {
  -webkit-transition: fill 0.45s, -webkit-transform 0.55s;
  -moz-transition: fill 0.45s, -moz-transform 0.55s;
  -o-transition: fill 0.45s, -o-transform 0.55s;
  transition: fill 0.45s,-webkit-transform 0.55s,-moz-transform 0.55s,-o-transform 0.55s,transform 0.55s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.grid article figcaption .icon_play:hover polygon {
  fill: white;
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.grid article.video_active .video {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 10;
}
.grid article.video_active figcaption {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.grid article.effect-one {
  text-align: right;
}
.grid article.effect-one img {
  -webkit-transition: -webkit-transform 0.75s ease;
  -moz-transition: -moz-transform 0.75s ease;
  -o-transition: -o-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease,-moz-transform 0.75s ease,-o-transform 0.75s ease,transform 0.75s ease;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  -o-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}
.grid article.effect-one figcaption h2 {
  position: absolute;
  top: 30px;
  right: 30px;
  left: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media only screen and (min-width: 1024px) {
  .grid article.effect-one figcaption h2 {
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
.grid article.effect-one figcaption h2:after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: white;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 1024px) {
  .grid article.effect-one figcaption h2:after {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
}
.grid article.effect-one figcaption p {
  text-align: right;
  position: absolute;
  bottom: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media only screen and (min-width: 1025px) {
  .grid article.effect-one figcaption p {
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.grid article.effect-one .icon_play {
  top: 79%;
}
.grid article.effect-one:hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.grid article.effect-one:hover figcaption h2 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.grid article.effect-one:hover figcaption h2:after {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.grid article.effect-one:hover figcaption .icon_play,
.grid article.effect-one:hover figcaption p {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.grid .btn {
  margin-top: 2em;
}
.module_divider {
  font-size: 0px;
  font-size: 0rem;
  border: 10px solid white;
  overflow: hidden;
}
.module_divider .eq1,
.module_divider .eq2 {
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 0;
  vertical-align: top;
  height: 450px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1,
  .module_divider .eq2 {
    width: 50%;
  }
}
.module_divider .eq1 .sizer-div:after,
.module_divider .eq2 .sizer-div:after {
  background: rgba(143, 110, 103, 0.2);
  content: '..';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.module_divider .eq1 .sizer-div img,
.module_divider .eq2 .sizer-div img {
  -webkit-transition: -webkit-transform 0.55s;
  -moz-transition: -moz-transform 0.55s;
  -o-transition: -o-transform 0.55s;
  transition: -webkit-transform 0.55s,-moz-transform 0.55s,-o-transform 0.55s,transform 0.55s;
}
.module_divider .eq1 .text,
.module_divider .eq2 .text {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: white;
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1 .text,
  .module_divider .eq2 .text {
    right: -10%;
    width: 70%;
    -webkit-transition: -webkit-transform 0.45s;
    -moz-transition: -moz-transform 0.45s;
    -o-transition: -o-transform 0.45s;
    transition: -webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -o-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}
.module_divider .eq1 .text .tittel,
.module_divider .eq2 .text .tittel {
  margin-top: 140px;
  margin-bottom: .5em;
  position: relative;
  top: 0;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 28px;
  font-size: 1.75rem;
}
.module_divider .eq1 .text .tittel:after,
.module_divider .eq2 .text .tittel:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4px;
  background-color: white;
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1 .text .tittel:after,
  .module_divider .eq2 .text .tittel:after {
    -webkit-transition: -webkit-transform 0.45s, opacity 0.45s;
    -moz-transition: -moz-transform 0.45s, opacity 0.45s;
    -o-transition: -o-transform 0.45s, opacity 0.45s;
    transition: -webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s, opacity 0.45s;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }
}
.module_divider .eq1 .text .tittel span,
.module_divider .eq2 .text .tittel span {
  font-weight: 800;
}
.module_divider .eq1 .text .paragraph,
.module_divider .eq2 .text .paragraph {
  font-weight: 300;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1 .text .paragraph,
  .module_divider .eq2 .text .paragraph {
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    -moz-transition: opacity 0.45s, -moz-transform 0.45s;
    -o-transition: opacity 0.45s, -o-transform 0.45s;
    transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1 .text .btn,
  .module_divider .eq2 .text .btn {
    -webkit-transition: opacity 0.65s, -webkit-transform 0.65s;
    -moz-transition: opacity 0.65s, -moz-transform 0.65s;
    -o-transition: opacity 0.65s, -o-transform 0.65s;
    transition: opacity 0.65s,-webkit-transform 0.65s,-moz-transform 0.65s,-o-transform 0.65s,transform 0.65s;
    -webkit-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.module_divider .eq1:hover .text,
.module_divider .eq2:hover .text {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.module_divider .eq1:hover .text .tittel:after,
.module_divider .eq2:hover .text .tittel:after {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.module_divider .eq1:hover .text .paragraph,
.module_divider .eq2:hover .text .paragraph,
.module_divider .eq1:hover .text .btn,
.module_divider .eq2:hover .text .btn {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.module_divider .eq1 {
  z-index: 2;
}
.module_divider .eq1 .sizer-div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  right: 10%;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1 .sizer-div {
    right: -12%;
    left: -12%;
    width: 125%;
    -webkit-transition: -webkit-transform 0.55s;
    -moz-transition: -moz-transform 0.55s;
    -o-transition: -o-transform 0.55s;
    transition: -webkit-transform 0.55s,-moz-transform 0.55s,-o-transform 0.55s,transform 0.55s;
    -webkit-transform: skew(-16deg) translate3d(-50px, 0, 0);
    -moz-transform: skew(-16deg) translate3d(-50px, 0, 0);
    -o-transform: skew(-16deg) translate3d(-50px, 0, 0);
    -ms-transform: skew(-16deg) translate3d(-50px, 0, 0);
    transform: skew(-16deg) translate3d(-50px, 0, 0);
  }
}
.module_divider .eq1 .sizer-div img {
  max-height: 100%;
  position: relative;
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq1 .sizer-div img {
    width: 110%;
    max-height: 150%;
    -webkit-transition: -webkit-transform 0.55s;
    -moz-transition: -moz-transform 0.55s;
    -o-transition: -o-transform 0.55s;
    transition: -webkit-transform 0.55s,-moz-transform 0.55s,-o-transform 0.55s,transform 0.55s;
    -webkit-transform: skew(16deg) scale(1.1);
    -moz-transform: skew(16deg) scale(1.1);
    -o-transform: skew(16deg) scale(1.1);
    -ms-transform: skew(16deg) scale(1.1);
    transform: skew(16deg) scale(1.1);
  }
}
.no-touch .module_divider .eq1:hover .sizer-div {
  -webkit-transform: scale(1.2) skew(-16deg) translate3d(0, 0, 0);
  -moz-transform: scale(1.2) skew(-16deg) translate3d(0, 0, 0);
  -o-transform: scale(1.2) skew(-16deg) translate3d(0, 0, 0);
  -ms-transform: scale(1.2) skew(-16deg) translate3d(0, 0, 0);
  transform: scale(1.2) skew(-16deg) translate3d(0, 0, 0);
}
@media only screen and (min-width: 1025px) {
  .module_divider .eq2 .text {
    right: 10%;
  }
}
.module_divider .eq2 .sizer-div img {
  width: 150%;
}
.no-touch .module_divider .eq2:hover .sizer-div img {
  -webkit-transform: scale(1.2) translate3d(0, 0, 0);
  -moz-transform: scale(1.2) translate3d(0, 0, 0);
  -o-transform: scale(1.2) translate3d(0, 0, 0);
  -ms-transform: scale(1.2) translate3d(0, 0, 0);
  transform: scale(1.2) translate3d(0, 0, 0);
}
.map_wrapper {
  height: 400px;
  border: 10px solid white;
}
@media only screen and (min-width: 1024px) {
  .map_wrapper {
    height: 500px;
  }
}
#map {
  height: 100%;
}
#devmode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #333f4d url('/admin/resources/images/devmode.png?x=D25buO43c') repeat-x 50% 0;
}
.divider {
  position: relative;
  width: 100%;
  margin: 0;
}
.divider:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -30px;
  left: 0;
  background: white;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  z-index: 3;
}
@media only screen and (min-width: 1024px) {
  .divider:after {
    height: 60px;
  }
}
.divider.down:after {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  top: -15px;
}
.divider.colored:after {
  background: #5f5656;
}
.emblem-heading {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.emblem-heading h2 {
  position: relative;
}
.emblem-heading h2:before {
  content: '';
  background-image: url('/static/img/logo_emblem.svg');
  background-repeat: no-repeat;
  height: 30px;
  width: 24px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: .7em;
  margin-bottom: .5em;
}
.btn {
  max-width: 140px;
  display: block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  -webkit-transition: -webkit-transform 0.35s, opacity 0.35s, color 0.35s, background-color 0.35s;
  -moz-transition: -moz-transform 0.35s, opacity 0.35s, color 0.35s, background-color 0.35s;
  -o-transition: -o-transform 0.35s, opacity 0.35s, color 0.35s, background-color 0.35s;
  transition: -webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s, opacity 0.35s, color 0.35s, background-color 0.35s;
  background-color: white;
  border: #392b28;
  border-radius: 5px;
}
.btn.small {
  width: 100px;
}
.btn a {
  display: block;
  padding: 10px;
  color: #756c59;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
}
.btn.transparent {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.btn.transparent a {
  -webkit-transition: background-color 0.35s ease;
  -moz-transition: background-color 0.35s ease;
  -o-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  background-color: transparent;
  position: relative;
  color: white;
}
.btn.transparent a:hover {
  background-color: white;
  color: #756c59;
}
.btn.border {
  border: 2px solid #392b28;
}
.btn.border:hover {
  background: #392b28;
  border: 2px solid white;
}
.btn.border:hover a {
  color: white;
}
.unstyled {
  list-style: none;
  padding: 0;
}
/*****************************************/
/* Key frames */
/*****************************************/
/*****************************************/
/* Soft Scale */
/*****************************************/
.navOutNext {
  -webkit-animation: scaleUp 1s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: scaleUp 1s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -o-animation: scaleUp 1s forwards cubic-bezier(0.7, 0, 0.3, 1);
  animation: scaleUp 1s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.navInNext {
  -webkit-animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -o-animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  animation: scaleDownUp 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.navOutPrev {
  -webkit-animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -o-animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  animation: scaleDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
.navInPrev {
  -webkit-animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  -o-animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
  animation: scaleUpDown 1.5s forwards cubic-bezier(0.7, 0, 0.3, 1);
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes scaleUp{ from{ } to{ -webkit-transform: scale(1.1); opacity: 0 }}
@-moz-keyframes scaleUp{ from{ } to{ -moz-transform: scale(1.1); opacity: 0 }}
@-o-keyframes scaleUp{ from{ } to{ -o-transform: scale(1.1); opacity: 0 }}
@keyframes scaleUp{ from{ } to{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1); opacity: 0 };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes scaleDownUp{ from{ -webkit-transform: scale(0.9); opacity: 0} to{ -webkit-transform: scale(1); opacity: 1 }}
@-moz-keyframes scaleDownUp{ from{ -moz-transform: scale(0.9); opacity: 0} to{ -moz-transform: scale(1); opacity: 1 }}
@-o-keyframes scaleDownUp{ from{ -o-transform: scale(0.9); opacity: 0} to{ -o-transform: scale(1); opacity: 1 }}
@keyframes scaleDownUp{ from{-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9); opacity: 0} to{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); opacity: 1 };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes scaleDown{ from{ } to{ -webkit-transform: scale(0.9); opacity: 0 }}
@-moz-keyframes scaleDown{ from{ } to{ -moz-transform: scale(0.9); opacity: 0 }}
@-o-keyframes scaleDown{ from{ } to{ -o-transform: scale(0.9); opacity: 0 }}
@keyframes scaleDown{ from{ } to{-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9); opacity: 0 };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes scaleUpDown{ from{ -webkit-transform: scale(1.1); opacity: 0} to{ -webkit-transform: scale(1); opacity: 1 }}
@-moz-keyframes scaleUpDown{ from{ -moz-transform: scale(1.1); opacity: 0} to{ -moz-transform: scale(1); opacity: 1 }}
@-o-keyframes scaleUpDown{ from{ -o-transform: scale(1.1); opacity: 0} to{ -o-transform: scale(1); opacity: 1 }}
@keyframes scaleUpDown{ from{-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1); opacity: 0} to{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); opacity: 1 };
}
.nicescroll-rails div {
  background-color: #afafaf !important;
  width: 8px!important;
}
.fluid-width-video-wrapper {
  height: 100%;
}
/** COMPONENTS **/
.nav_main {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  padding-right: 20px;
  z-index: 10;
  padding-top: 10px;
}
@media only screen and (min-width: 600px) {
  .nav_main {
    text-align: right;
  }
}
.nav_main ul {
  position: relative;
  z-index: 1;
}
.nav_main ul li {
  display: inline-block;
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 200%, 0);
  -moz-transform: translate3d(0, 200%, 0);
  -o-transform: translate3d(0, 200%, 0);
  -ms-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}
.nav_main ul li:nth-of-type(1) {
  -webkit-transition: -webkit-transform 1s ease 0.8s, opacity 2s ease 0.8s;
  -moz-transition: -moz-transform 1s ease 0.8s, opacity 2s ease 0.8s;
  -o-transition: -o-transform 1s ease 0.8s, opacity 2s ease 0.8s;
  transition: -webkit-transform 1s ease 0.8s,-moz-transform 1s ease 0.8s,-o-transform 1s ease 0.8s,transform 1s ease 0.8s, opacity 2s ease 0.8s;
}
.nav_main ul li:nth-of-type(2) {
  -webkit-transition: -webkit-transform 1s ease 1s, opacity 2s ease 1s;
  -moz-transition: -moz-transform 1s ease 1s, opacity 2s ease 1s;
  -o-transition: -o-transform 1s ease 1s, opacity 2s ease 1s;
  transition: -webkit-transform 1s ease 1s,-moz-transform 1s ease 1s,-o-transform 1s ease 1s,transform 1s ease 1s, opacity 2s ease 1s;
}
.nav_main ul li:nth-of-type(3) {
  -webkit-transition: -webkit-transform 1s ease 1.2s, opacity 2s ease 1.2s;
  -moz-transition: -moz-transform 1s ease 1.2s, opacity 2s ease 1.2s;
  -o-transition: -o-transform 1s ease 1.2s, opacity 2s ease 1.2s;
  transition: -webkit-transform 1s ease 1.2s,-moz-transform 1s ease 1.2s,-o-transform 1s ease 1.2s,transform 1s ease 1.2s, opacity 2s ease 1.2s;
}
.nav_main ul li:nth-of-type(4) {
  -webkit-transition: -webkit-transform 1s ease 1.4s, opacity 2s ease 1.4s;
  -moz-transition: -moz-transform 1s ease 1.4s, opacity 2s ease 1.4s;
  -o-transition: -o-transform 1s ease 1.4s, opacity 2s ease 1.4s;
  transition: -webkit-transform 1s ease 1.4s,-moz-transform 1s ease 1.4s,-o-transform 1s ease 1.4s,transform 1s ease 1.4s, opacity 2s ease 1.4s;
}
.nav_main ul li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  font-size: 0.8125rem;
  cursor: pointer;
}
.nav_main ul li.facebook {
  display: none;
  margin-left: 40px;
}
.nav_main ul li.facebook:before {
  display: none;
}
@media only screen and (min-width: 600px) {
  .nav_main ul li.facebook {
    display: inline-block;
  }
}
.nav_main ul li:before {
  position: absolute;
  color: transparent;
  top: 60%;
  left: 50%;
  content: '•';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  -o-transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out,-moz-transform 0.3s ease-in-out,-o-transform 0.3s ease-in-out,transform 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.no-touch .nav_main ul li:hover:before {
  color: #fff;
  text-shadow: 10px 0 #ffffff, -10px 0 #ffffff;
}
.no-touch .nav_main ul li.active:hover:before {
  color: #392b28;
  text-shadow: 10px 0 #392b28, -10px 0 #392b28;
}
.nav_main ul li.active a {
  color: #392b28;
}
.logo {
  position: absolute;
  top: 50px;
  left: 5%;
  height: 90px;
  width: 125px;
  z-index: 2;
  -webkit-transition: opacity 1s ease 0.8s, -webkit-transform 1s ease 1.4s, height 0.55s ease-in-out, top 0.55s ease-in-out, left 0.55s ease-in-out;
  -moz-transition: opacity 1s ease 0.8s, -moz-transform 1s ease 1.4s, height 0.55s ease-in-out, top 0.55s ease-in-out, left 0.55s ease-in-out;
  -o-transition: opacity 1s ease 0.8s, -o-transform 1s ease 1.4s, height 0.55s ease-in-out, top 0.55s ease-in-out, left 0.55s ease-in-out;
  transition: opacity 1s ease 0.8s,-webkit-transform 1s ease 1.4s,-moz-transform 1s ease 1.4s,-o-transform 1s ease 1.4s,transform 1s ease 1.4s, height 0.55s ease-in-out, top 0.55s ease-in-out, left 0.55s ease-in-out;
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(50%, 50%, 0);
  -moz-transform: scale(0) translate3d(50%, 50%, 0);
  -o-transform: scale(0) translate3d(50%, 50%, 0);
  -ms-transform: scale(0) translate3d(50%, 50%, 0);
  transform: scale(0) translate3d(50%, 50%, 0);
}
footer {
  text-align: center;
  padding: 20px;
  padding-bottom: 5px;
}
footer img {
  display: inline-block;
  vertical-align: top;
  margin-right: .7em;
  margin-bottom: 10px;
}
footer .footer_logo {
  width: 100%;
  padding: 0 40% 0 40%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1024px) {
  footer .footer_logo {
    width: 70px;
    padding: 0;
    margin-bottom: 0;
    float: left;
  }
}
footer ul {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media only screen and (min-width: 1024px) {
  footer ul {
    width: 80%;
  }
}
footer ul li {
  display: inline-block;
  margin-right: 0;
  width: 49%;
  margin-top: 10px;
}
@media only screen and (min-width: 1024px) {
  footer ul li {
    width: 15%;
    margin-right: 50px;
    margin-top: 0;
  }
}
footer ul li img {
  position: relative;
  -webkit-transition: top 0.35s ease;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  transition: top 0.35s ease;
  top: 0;
}
footer ul li:hover img {
  top: -5px;
}
footer ul li span {
  width: 100%;
}
footer ul .facebook,
footer ul .vimeo {
  position: relative;
}
footer ul .facebook span,
footer ul .vimeo span {
  margin-top: -5px;
  position: relative;
}
footer ul .facebook {
  margin-right: 0;
}
@media only screen and (min-width: 1024px) {
  footer ul .facebook {
    margin-left: 15%;
  }
}
footer span {
  display: inline-block;
  vertical-align: top;
}
/** SITE  **/
html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;
  -webkit-transition: -webkit-transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s, opacity 1s cubic-bezier(.36, 0, .07, 1);
  -moz-transition: -moz-transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s, opacity 1s cubic-bezier(.36, 0, .07, 1);
  -o-transition: -o-transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s, opacity 1s cubic-bezier(.36, 0, .07, 1);
  transition: -webkit-transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s,-moz-transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s,-o-transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s,transform 1s cubic-bezier(.36, 0, .07, 1) 0.2s, opacity 1s cubic-bezier(.36, 0, .07, 1);
  -webkit-transform: translate3d(0, -80px, 0);
  -moz-transform: translate3d(0, -80px, 0);
  -o-transform: translate3d(0, -80px, 0);
  -ms-transform: translate3d(0, -80px, 0);
  transform: translate3d(0, -80px, 0);
  opacity: 0;
}
.lastet .nav_main ul li {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.lastet .logo {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-transform: scale(1) translate3d(0, 0, 0);
  -o-transform: scale(1) translate3d(0, 0, 0);
  -ms-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
  margin-left: -62px;
}
.lastet body {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.forside {
  height: 100%;
}
.forside .logo {
  top: 120px;
  left: 50%;
  height: 70px;
}
@media only screen and (min-width: 1024px) {
  .forside .logo {
    top: 200px;
    height: 90px;
  }
}
.forside .top h1 {
  font-size: 20px;
  font-size: 1.25rem;
}
.forside .top span {
  font-size: 16px;
  font-size: 1rem;
}
@media only screen and (min-width: 1024px) {
  .forside .top h1 {
    font-size: 28px;
    font-size: 1.75rem;
  }
  .forside .top span {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.forside .grid article:nth-of-type(1) h2 {
  margin-top: 1em;
}
.forside .grid article:nth-of-type(2) h2 {
  margin-top: .75em;
}
.forside #frontpage_kunder {
  padding-top: 4em;
  padding-bottom: 2.5em;
  background: #5f5656;
  border: 10px solid white;
}
@media only screen and (min-width: 1024px) {
  .forside #frontpage_kunder {
    padding-top: 7em;
  }
}
.forside #frontpage_kunder .row {
  text-align: center;
}
.forside #frontpage_kunder .row a {
  width: 80px;
  margin-right: 40px;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -moz-transition: -moz-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  -o-transition: -o-transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out,-moz-transform 0.35s ease-in-out,-o-transform 0.35s ease-in-out,transform 0.35s ease-in-out, opacity 0.35s ease-in-out;
  zoom: 1;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.no-touch .forside #frontpage_kunder .row a:hover {
  -webkit-transform: translate3d(0, -5px, 0);
  -moz-transform: translate3d(0, -5px, 0);
  -o-transform: translate3d(0, -5px, 0);
  -ms-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .forside #frontpage_kunder .row a {
    width: auto;
  }
}
.forside #frontpage_kunder .row img {
  width: 100%;
}
.forside #frontpage_kunder .divider:after {
  top: 20px;
}
.underside {
  height: 100%;
}
.underside .logo {
  height: 40px;
  margin: 0;
  left: 40px;
  top: 40vh;
  left: 0;
}
@media only screen and (min-width: 1024px) {
  .underside .logo {
    height: 70px;
    margin: 0;
    left: 40px;
    top: 40px;
  }
}
.underside .emblem {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -37px;
  left: 50%;
  margin-left: -30px;
  background-color: white;
  border-radius: 50%;
  z-index: 4;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .underside .emblem {
    top: -57px;
  }
}
.underside .emblem img {
  width: 25px;
  display: inline;
  position: relative;
  top: 10px;
}
.underside .article_body {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1024px) {
  .underside .article_body {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.underside .article_body h1 {
  font-weight: 800;
  margin-left: 0;
  margin-bottom: 27px;
}
@media only screen and (min-width: 1024px) {
  .underside .article_body h1 {
    margin-left: -25px;
  }
}
.underside .article_body h2 {
  text-transform: none;
  font-weight: 800;
  margin-bottom: 2em;
  margin-left: 25px;
}
@media only screen and (min-width: 1024px) {
  .underside .article_body h2 {
    margin-left: 0;
  }
}
.underside .article_body article {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .underside .article_body article {
    width: 40%;
  }
}
.underside .article_body aside {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .underside .article_body aside {
    width: 35%;
    margin-left: 20%;
    margin-top: 0;
  }
}
.underside .article_body aside .info-tekst {
  position: relative;
  padding-left: 27px;
  margin-bottom: 4em;
  margin-top: 4em;
}
@media only screen and (min-width: 1024px) {
  .underside .article_body aside .info-tekst {
    margin-bottom: 6em;
    margin-top: 0;
  }
  .underside .article_body aside .info-tekst:before {
    content: '';
    position: absolute;
    top: -5%;
    left: 0;
    height: 110%;
    width: 1px;
    background: black;
  }
}
.underside .article_body aside img {
  max-width: 100%;
}
.underside .article_body aside .aside-img p {
  margin: .5em 0 0 .5em;
}
/** SHAME **/
