{% extends "_layout" %}
{% set bodyClass = "underside jobber" %}

{% block content %}

<div class="row">
    <figure class="emblem-heading">
        <h1><strong>Portefølje</strong></h1>
    </figure>
</div>

<figure class="divider"></figure>

<section class="jobber grid">
    {% for entry in craft.entries.section('jobber') %}

        {% set video = craft.embedder.url(entry.video, {max_width:500, max_height:800}) %}

        <article class="effect-one">
            <img src="{{ video.video_highres }}">
            <div class="video">
                {{ video.embed_code }}
            </div>
            <figcaption>
                <h3>{{entry.title}}</h3>
                <p>{{entry.tekstRen}}</p>
                <span class="icon_play">
                    <?php include "/static/img/icon_play.svg" ?>
                </span>
            </figcaption>
        </article>
    {% endfor %}

</section>

<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
