{% extends "_layout" %}
{% set bodyClass = "underside" %}

{% block content %}


<section class="top">

    <!--First Slide-->
    <div class="top-content setsrc" data-desktop="/static/img/folk.jpg"
         data-tablet="/static/img/folk.jpg"
         data-phone="/static/img/folk.jpg" data-id='1'>
        <div class="text">
            <h1>Mer enn bare støy</h1>
        </div>
    </div>
    <figure class="divider"></figure>
</section>


<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
