{% extends "_layout" %}
{% set bodyClass = "underside" %}

{% block content %}

{% set underside = craft.entries.section(entry.slug).first() %}


<section class="top">

    <div class="top-content setsrc" data-desktop="{{ underside.toppbilde.first().getUrl(desktop) }}"
         data-tablet="{{ underside.toppbilde.first().getUrl(tablet) }}"
         data-phone="{{ underside.toppbilde.first().getUrl(phone) }}">
    </div>

    <figure class="divider">
        <div class="emblem">
            <img src="/static/img/logo_emblem.svg">
        </div>
    </figure>
</section>

<section class="article_body row">

    <h1>{{underside.tittel}}</h1>

    <article>
        <h2>{{underside.ingress}}</h2>
        {{underside.tekstRik}}
    </article>

    <aside>
        <div class="info-tekst">
            {% for block in underside.ansatte %}
            <p><strong>{{block.navn}}</strong><br>
                {{block.stilling}}<br>
                {{block.telefonnummer}}<br>
                <a href="mailto: {{block.mailadresse}}">{{block.mailadresse}}</a><br><br>
            {% endfor %}

            {% for block in underside.liste %}
            <p><strong>{{block.tittel}}</strong></p><br>
            {% endfor %}
        </div>

        <div class="aside-img">
            {% for block in underside.bilder %}
            <img class="setsrc" data-phone="{{ block.bilde.first().getUrl(phone) }}" data-tablet="{{ block.bilde.first().getUrl(tablet) }}" data-desktop="{{ block.bilde.first().getUrl(tablet) }}"src="{{ block.bilde.first().getUrl(tablet) }}">
            <p>{{block.bildetekst}}</p>
            {% endfor %}
        </div>
    </aside>

</section>


<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
