{% extends "_layout" %}
{% set bodyClass = "underside" %}

{% block content %}


<section class="top">

    <div class="top-content setsrc" data-desktop="/static/img/folk.jpg"
         data-tablet="/static/img/folk.jpg"
         data-phone="/static/img/folk.jpg" data-id='1'>
    </div>

    <figure class="divider">
        <div class="emblem">
            <img src="/static/img/logo_emblem.svg">
        </div>
    </figure>
</section>

<section class="article_body row">
    <h1>Mer enn bare støy</h1>

    <article>
        <h2>Støy er bla</h2>
    </article>
    
    <aside>
        <p>Blabla</p>
    </aside>

</section>


<section class="map_wrapper">
    <div id="map"></div>
</section>

{% endblock %}
