<!DOCTYPE html>
<!--

                                   @@@@@@@@@@@@@@
                              @@@@@@@@@@@@@@@@@@@@@@@@
                            @@@@@@@@@@@@@@@@@@@@@@@@@@@@
                         @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
             @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
      @@@@@    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   @@@@@
       @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
              @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                        @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
             @@@@@@                                             @@@@@@
             @@@@@@                                             @@@@@@
             @@@@@@                                             @@@@@@
             @@@@@@                                             @@@@@@
               @@@@                                             @@@@
               @@@@                                             @@@@
               @@@@                                             @@@@


                                         @@
                                        @@@@
                                       @@@@@@
                      @@@@@@@@@@@@@@@@@@@  @@@@@@@@@@@@@@@@@@@
                    @@@@@@@@@@@@@@@@@@@@    @@@@@@@@@@@@@@@@@@@@
                   @@@@@@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@@@@@
                   @@@                                        @@@
                   @@                                          @@
                   @@                                          @@

                                  WWW.MUSTASJ.NO

-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{siteName}}{% if entry is defined %} - {{ entry.title }}{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        {% if craft.config.devMode %}<link rel="shortcut icon" href="/static/php/favicon.php?t={{ craft.config.time }}&env={{craft.config.env}}" />{% endif%}
        {{ craft.minimee.css([
                '/static/css/normalize.css',
                'http://fonts.googleapis.com/css?family=Raleway:600,400',
                '/static/css/compiled/main.css'
            ])
        }}
        <script src="/static/js/vendor/modernizr-custom-2.8.3.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,800,400' rel='stylesheet' type='text/css'>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-{{ globals.googleAnalyticsKode | replace('#UA-#', '') }}');ga('send','pageview');
        </script>
    </head>
    <body{% if bodyClass is defined %} class="{{ bodyClass }}"{% endif %}>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header id="main-header">

            <nav class="nav_main">
                <ul>
                    <li class="active">
                        <a>Lyddesign</a>
                    </li>
                    <li>
                        <a>Lydproduksjon</a>
                    </li>
                    <li>
                        <a>Hvem er vi?</a>
                    </li>
                    <li class="facebook">
                        <a href="">
                            <img src="static/img/icon_facebook.svg">
                        </a>
                    </li>
                </ul>
            </nav>

            <img class="logo" src="static/img/logo.svg">
        </header>


		{% block content %}
			<p>Du mangler innhold</p>
		{% endblock %}

        <footer>
            <img class="footer_logo" src="static/img/logo_dark.png">

            <ul class="unstyled">
                <li>
                    <img src="static/img/icon_address.png">
                    <span>Båtmannsgata 4<br>7044 Trondheim</span>
                </li>
                <li>
                    <img src="static/img/icon_contact.png">
                    <span>post@stoey.no<br>
                        Thomas: 847 58 484<br>
                        David: 847 58 484
                    </span>

                </li>
                <li class="facebook">
                    <img src="static/img/icon_facebook.png">
                    <span>Facebook</span>
                </li>
                <li class="vimeo">
                    <img src="static/img/icon_vimeo.png">
                    <span>Vimeo</span>
                </li>
            </ul>
        </footer>

        {% if craft.config.devMode %}<div id="devmode"></div>{% endif %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>

        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        {{ craft.minimee.js([
                '/static/js/plugins.js',
                '/static/js/vendor/picturefill.min.js',
                '/static/js/vendor/svg4everybody.min.js',
                'http://a.vimeocdn.com/js/froogaloop2.min.js',
                '/static/js/vendor/jquery.fitvids.js',
                '/static/js/60-fps-scroll.js',
                '/static/js/main.js'
            ])
        }}
    </body>
</html>
